.about-block {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-image: url("/images/yoshta_background.png");
  background-size: cover;
  background-attachment: fixed;

  & span {
    width: 50%;
    align-self: center;
    font-family: "SouthGhetto";
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: white;
  }
}
