@use "../../shared/colors/colors" as *;
@use "sass:color";

@keyframes appear_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes font_appear_animation {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.header {
  z-index: 99999;
  position: fixed;
  width: 100%;
  // background-color: $primary-color;
  margin: 0;
}

.navigation-block {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  gap: 100px;
  margin: 0;

  &__item {
    display: flex;
    gap: 40px;
    justify-items: center;
    align-items: center;

    &:first-of-type {
      justify-self: end;
    }

    &:last-of-type {
      justify-self: start;
    }

    & a {
      font-size: 1.2rem;
      // font-family: "Bubblez";
      text-decoration: none;
      letter-spacing: 0.5px;
      transition: transform 0.2s;
      opacity: 0;
      animation: font_appear_animation 0.8s forwards;
      animation-delay: 600ms;
      transition: color 0.3s ease-in-out;
      color: white;
      mix-blend-mode: difference;

      &:hover {
        color: color.adjust($secondary-color, $lightness: 20%);
      }
    }
  }

  & img {
    width: 100px;
    opacity: 0;
    animation: appear_animation 0.8s forwards;
    animation-delay: 900ms;
  }
}

.black-color {
  & a {
    color: black;
  }
}
