.footer-block {
  margin-top: 10%;
  padding: 3% 0%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.01fr 1fr;
  background-color: #2a2a2a;
  color: white;

  &__organization-info {
    padding-left: 7%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
  }

  &__contacts {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & a {
      text-decoration: none;
      color: white;
    }

    & > * {
      cursor: pointer;
    }
  }

  &__developer-info {
    width: 96%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-end;
    align-items: flex-end;
    gap: 5px;
  }
}

@media (max-width: 430px) {
  .footer-block {
    margin-top: 30vh;
    padding: 10% 0%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    background-color: #2a2a2a;
    color: white;
    font-size: 0.85rem;

    &__organization-info {
      padding-left: 7%;
      display: flex;
      flex-flow: column nowrap;
      gap: 5px;
    }

    &__contacts {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;

      & a {
        text-decoration: none;
        color: white;
      }

      & > * {
        cursor: pointer;
      }
    }

    &__developer-info {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-items: center;
      align-items: center;
      gap: 5px;
    }
  }
}
