$background: #ffffff;
$box-shadow: rgba(0, 0, 0, 0.418);

.contacts-block {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h2 {
    font-size: 2rem;
  }

  strong {
    text-align: center;
    font-weight: 100;
    width: 300px;
  }

  &__content {
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 5vw;

    &__card {
      background-color: $background;
      box-shadow: 5px 5px 10px $box-shadow;
      width: 20vw;
      padding: 5%;
      border-radius: 30px;
      display: flex;
      flex-flow: column nowrap;
      gap: 10px;

      &__telephone {
        font-size: 1.2rem;
        font-weight: 500;
      }

      &__email {
        font-size: 1.3rem;
        font-weight: 700;
      }

      &__address {
        font-size: 1rem;
        margin-top: 20px;
        font-weight: 100;
      }

      &__contacts {
        display: flex;
        flex-flow: row nowrap;
        gap: 4px;
      }
    }

    &__form {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      gap: 10px;

      & input {
        background-color: $background;
        height: 20px;
        width: 13vw;
        border: none;
        box-shadow: 5px 5px 10px $box-shadow;
        border-radius: 30px;
        padding: 10%;

        &:focus {
          outline: none;
        }
      }

      & button {
        margin-top: 20px;
        cursor: pointer;
        align-self: center;
        background-color: $background;
        color: #882ba2;
        font-size: 1rem;
        height: 70px;
        width: calc-size(fit-content, size + 30px);
        border: none;
        box-shadow: 5px 5px 10px $box-shadow;
        border-radius: 30px;
        padding: 10%;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          background-color: #882ba2;
          color: white;
        }
      }
    }
  }
}
