.benefits-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.benefits-block {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  color: white;

  & h3 {
    font-size: 1.5rem;
    padding-top: 5vh;
  }

  &__data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &__information-item {
      display: flex;
      flex-flow: column nowrap;
      gap: 50px;
      font-size: 1.2rem;
    }
  }
}
