.sponsors-block {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 50px;

  & h3 {
    font-size: 1.6rem;
  }

  &__cards {
    display: flex;
    flex-flow: row nowrap;
    gap: 5vw;
    align-items: center;
    justify-content: space-evenly;

    &__card {
      display: flex;
      flex-flow: column nowrap;
      width: 350px;
      height: 200px;
      gap: 25px;
      align-items: center;
      justify-content: flex-start;
      box-shadow: 1px 1px 10px gray;
      border-radius: 10px;
      padding: 2%;

      & span {
        text-align: justify;
      }
    }
  }

  &__innovation-fond {
    margin-top: 80px;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    gap: 5vw;
    align-items: center;
    justify-content: center;

    & span {
      color: gray;
      text-align: justify;
    }
  }
}
